<!--
    Michelle Zhu, Ryan Zhou, Linda Zheng
    Boas
    K18 -- live_stuyle
    2024-10-15
    time spent: 1
-->

<head>
    <link href="../static/style.css" rel="stylesheet">
    <title> K18 </title>
</head>
<body>
    <header> h1 foo </header>
    <div class="body">
    <div class="left">
    <h2> nav foo </h2>
    <ul>
        <li> dis </li>
        <li> dat </li>
        <li> de udda ting </li>
    </ul>
    </div>
    <div class="right">
    <h2> main foo heading </h2>
    <p> Bacon ipsum dolor amet corned beef buffalo picanha bresaola shank pork chop. Cow turkey chislic, strip steak ribeye hamburger bacon pancetta salami cupim ball tip doner prosciutto. Prosciutto tongue spare ribs, shankle hamburger shoulder brisket t-bone swine beef landjaeger flank strip steak andouille sirloin. Chuck alcatra pork loin ham tail. Andouille sausage burgdoggen tri-tip tenderloin short ribs cow picanha porchetta leberkas t-bone doner sirloin.
    </p>
    <br>
    <p>
    Bacon ipsum dolor amet corned beef buffalo picanha bresaola shank pork chop. Cow turkey chislic, strip steak ribeye hamburger bacon pancetta salami cupim ball tip doner prosciutto. Prosciutto tongue spare ribs, shankle hamburger shoulder brisket t-bone swine beef landjaeger flank strip steak andouille sirloin. Chuck alcatra pork loin ham tail. Andouille sausage burgdoggen tri-tip tenderloin short ribs cow picanha porchetta leberkas t-bone doner sirloin.
    </p>
    </div>
    </div>
    <footer> Copyright@MichelleZhu </footer>
</body>
</html>
